.links{
    display: flex;
    align-items: center;
    height: 250px;
    width: 100vw;
    color: white;
    justify-content: space-around;

    .list {
        
    }
}

.sub{
    color: white;
    text-align: center;
}

footer{
    background-color: rgba(0,0,0,0.8);
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

.blue{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100vw;
    color: white;
    justify-content: space-around;
    background-color: rgb(47, 110, 192);
}

h3{
    padding-left: 5px;
}

