<footer>
  <div class="blue">
    <div class="contactsales">
      <h5><i class="fas fa-tty"></i>  SALES CONTACT</h5>
      <h3>123 456 7890</h3>
    </div>
    <div class="contact">
      <h5><i class="fas fa-tty"></i>  SERVICE CONTACT</h5>
      <h3>    098 765 4321</h3>
    </div>
      <div class="contact">
        <h5><i class="fas fa-tty"></i>  PARTS CONTACT</h5>
        <h3>  000 000 0000</h3>
      </div>
        <div class="contact">
          <h5>ONLINE APPRAISAL</h5>
          <p>Schedule onsite visit.</p>
        </div>

  </div>

  <div class="clear"></div>

  <div class="links">
    <div class="list">
      <h5>COMPANY</h5>
      <ul>
        <li>About Us</li>
        <li>Finance</li>
        <li>Services</li>
        <li>News</li>
        <li>Careers</li>
      </ul>
    </div>

    <div class="list">
      <h5>BRAND INDEX</h5>
      <ul>
        <li>Audi</li>
        <li>BMW</li>
        <li>Chevrolet</li>
        <li>Chrysler</li>
        <li>Dodge</li>
      </ul>
    </div>

      <div class="list">
        <h5>BRAND INDEX</h5>
        <ul>
          <li>Ford</li>
          <li>Hyundai</li>
          <li>Infiniti</li>
          <li>mercedes-Benz</li>
          <li>Nissan</li>
        </ul>
      </div>

      <div class="list">
        <h5>CONTACT US</h5>
        <p>123#, Office Building,<br> Street, City, Country</p>
        <img src="http://placehold.it/100x50" alt="">
      </div>

      <div class="list">
        <h5>SHOP MOBILE</h5>
        <img src="http://placehold.it/50x100" alt="">
      </div>
      
  </div>
  
  <hr><hr><hr>
  <p class="sub">Copyright &copy; 2014 DesignYep.com. All rights reserved       Terms & Conditions | Privacy Policy</p>          
</footer>
