<body>
    <div class="aboutus">
        <img src="https://placehold.it/250x250" alt="About Us Placeholder">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tenetur eius voluptatibus, cupiditate nam perspiciatis? Sit, voluptatem? Adipisci quos libero nemo reprehenderit pariatur assumenda id aperiam, labore voluptatem dolore cumque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi adipisci in atque nulla dicta minima non deserunt possimus? Dolor aliquam, non porro ab vitae officiis praesentium quae libero architecto? Consequuntur.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, similique delectus. Ducimus nihil libero architecto dignissimos. Non nisi voluptatem reprehenderit aliquam amet, voluptatum quasi harum quae, qui odit quas illo.</p>
    </div>
</body>      