.contact-input{
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 0;
    padding: 5px;
}

.contact-message{
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 0;
    padding: 5px;
}

form{
    padding-bottom: 5vw;
    margin-left: 10vw;
    margin-top: 5vw;
}

.contact-form{
    background-image: url("../../assets/contact-image.jpg");
    background-size: 100vw auto;
}

.contact-title{
    text-align: center;
    padding-top: 2vw;
    color: white;
    font-size: 4vw;
    margin-top: 0;
}