<header>
  <div id="logos">
    <img src="https://placehold.it/150x50" alt="Logo 1">
    <div class="dividers"></div>
    <img src="https://placehold.it/150x50" alt="Logo 2">
  </div>
  <div id="contact-info">
    <i class="fas fa-phone-square-alt"></i>
    <p>123 456 7890</p>
    <i class="far fa-building"></i>
    <p>Office Building, Street, Country</p>
    <i class="fas fa-map-marker-alt"></i>
    <p>Map It</p>
  </div>
</header>
<nav>
  
  <a [routerLink]="['/']">HOME</a>
  <a>PRE-OWNED CARS</a>
  <a>FINANCE</a>
  <a>SERVICE</a>
  <a>NEWS</a>
  <a>CAREERS</a>
  <a>MEET OUR TEEM</a>
  <a [routerLink]="['/contact']">CONTACT US</a>
  <a [routerLink]="['/about']">ABOUT US</a>
</nav>
