<!--This is where ALL of the products will be shown-->
<div class="cars-wrapper">

  <div class="cars-grid-controls">
    <div class="car-tab">
      <button>NEW ARRIVALS</button>
      <button>CARS ON SPECIALS</button>
    </div>
    <div class="car-tab offset">
      <button>COMPARE<i class="fas fa-arrow-right"></i></button>
      <button>SEE ALL<i class="fas fa-arrow-right"></i></button>
    </div>
  </div>

  <div class="cars-control-line"></div>


  <div class="cars-grid">
    <div class="car-card" *ngFor="let index of indexes">
      <img src="{{ cars[index].image }}" alt="">
      <div class="line"></div>
      <div class="card-text">
        <h2>{{ cars[index].make }} {{ cars[index].model }}</h2>
        <h3>{{ cars[index].mileage }}</h3>
        <p>${{ cars[index].price }}</p>
        <input type="checkbox">
        <i class="far fa-heart"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == heart -->
      </div>
    </div>
  </div>
</div>