<!--This is where ALL of the products will be shown-->
<div class="cars-wrapper">

  <div class="cars-grid-controls">
    <div class="car-tab">
      <button>NEW ARRIVALS</button>
      <button>CARS ON SPECIALS</button>
    </div>
    <div class="car-tab offset">
      <button>COMPARE</button>
      <button>SEE ALL</button>
    </div>
  </div>

  <div class="cars-control-line"></div>


  <div class="cars-grid">
    <div class="car-card" *ngFor="let car of cars">
      <img src="{{ car.image }}" alt="">
      <div class="line"></div>
      <div class="card-text">
        <h2>{{ car.make }} {{ cars.model }}</h2>
        <h3>{{ car.mileage }}</h3>
        <p>${{ car.price }}</p>
        <input type="checkbox">
      </div>
    </div>
  </div>
</div>