.cars-wrapper {
    background: rgb(242, 252, 255);
    width: calc(100vw - 40%);
    padding: 25px 20% 25px 20%;
}

.cars-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    justify-items: center;

    .car-card {
        background: white;
        max-width: 300px;
        box-shadow: 4px 4px 4px rgba(0,0,0,.50);

        .line {
            width: 100%;
            height: 5px;
            background: rgb(47, 110, 192);   
            transform: translatey(-5px);
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 0;
        }

        .card-text {
            width: 100%;
            padding: 5%;

            * {
                margin: 0;
            }

            h2 {
                color: rgb(50,50,50);
            }

            h3 {
                color: rgb(100,100,100);
            }

            p {
                font-size: 20px;
                color:rgb(47, 110, 192);
                margin-bottom: 5px;
            }
        }
    }
}
.cars-grid-controls{
    display: flex;
    justify-content: space-between;

    .car-tab{

        button {
            border: 0;
            color: white;
            padding: 5px;
            font-weight: bold;
            height: 100%;
            cursor: pointer;

            i {
                margin-left: 5px;
                padding-top: 1px;
            }
        }

        button:nth-child(1) {
            background-color:rgb(47, 110, 192);
            margin-right: 10px;
        }

        button:nth-child(2) {
            background-color: rgb(139, 174, 221);
        }
    }

    .offset {
        padding-bottom: 5px;
    }

}


.cars-control-line {
    width: 100%;
    height: 5px;
    background-color: rgb(139, 174, 221); 
    margin-bottom: 25px;
}

i{
    float: right;
    padding-right: 20px;
}