<div class="hero">
  <div class="form-wrapper">
    <h1>SEARCH PRE-OWNED CARS</h1>
    <form action="">
      <select name="make" id="make" [(ngModel)]="searchParams.make" [ngModelOptions]="{standalone: true}">
        <option value="Make" selected disabled hidden>Make</option>
        <option value="Honda">Honda</option>
        <option value="Dodge">Dodge</option>
        <option value="Ford">Ford</option>
        <option value="Nissan">Nissan</option>
        <option value="Chevrolet">Chevrolet</option>
        <option value="Toyota">Toyota</option>
        <option value="Jeep">Jeep</option>
      </select>
      <select name="model" id="model" [(ngModel)]="searchParams.model" [ngModelOptions]="{standalone: true}">
        <option value="Model" selected disabled hidden>Model</option>
        <option value="Civic">Civic</option>
        <option value="Charger">Charger</option>
        <option value="Escape">Escape</option>
        <option value="CRV">CRV</option>
        <option value="Rogue">Rogue</option>
        <option value="Equinox">Equinox</option>
        <option value="Highlander">Highlander</option>
        <option value="Wrangler">Wrangler</option>
        <option value="Camry">Camry</option>
        <option value="Accord">Accord</option>
        <option value="Corolla">Corolla</option>
        <option value="Altima">Altima</option>
        <option value="Fusion">Fusion</option>
      </select>
      <select name="color" id="color" [(ngModel)]="searchParams.color" [ngModelOptions]="{standalone: true}">
        <option value="Color" selected disabled hidden>Color</option>
        <option value="Silver">Silver</option>
        <option value="Black">Black</option>
        <option value="Blue">Blue</option>
        <option value="Green">Green</option>
        <option value="White">White</option>
        <option value="Red">Red</option>
      </select>
      <select name="body-type" id="body-type" [(ngModel)]="searchParams.bodyType" [ngModelOptions]="{standalone: true}">
        <option value="Body Type" selected disabled hidden>Body Type</option>
        <option value="SUV">SUV</option>
        <option value="Sedan">Sedan</option>
      </select>
      <input type="number" id="minprice" placeholder="Min Price" [(ngModel)]="searchParams.minPrice" [ngModelOptions]="{standalone: true}">
      <input type="number" id="maxprice" placeholder="Max Price" [(ngModel)]="searchParams.maxPrice" [ngModelOptions]="{standalone: true}">
      <input type="number" id="maxmileage" placeholder="Max Mileage" [(ngModel)]="searchParams.maxMileage" [ngModelOptions]="{standalone: true}">
      <div class="form-buttons">
        <button id="search" (click)="searchCars()">SEARCH</button>
        <button id="reset" (click)="resetCars()">RESET</button>
      </div>
    </form>
  </div>
</div>
<app-cars #carChild></app-cars>
<div class="why-carzone">
  <div class="text">
    <h3 class="white">Why Choose Car Zone?</h3>
    <p class="lorem">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo aliquam doloremque qui necessitatibus possimus. Eveniet incidunt ad corporis dolorem ea esse ratione sapiente accusamus est! Adipisci dolor ea inventore?<br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita earum aspernatur eos recusandae temporibus cupiditate distinctio itaque ducimus adipisci, porro dolorem, accusantium assumenda beatae quis ex commodi, asperiores laboriosam?
    </p>
  </div>
</div>

<div class="info-section">
  <div class="info">
    <h3>PEACE OF MIND</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel error excepturi optio. Alias incidunt mollitia hic tenetur a libero asperiores. Eius quod est illo consequatur corrupti odit quaerat repellendus quia.</p>
    <ul class="services">
      <li>30 Days Limited Warranty</li>
      <li>Superb Customer Service</li>
      <li>Best in Class vehicles</li>
      <li>Best Customer Experience</li>
      <li>Hassle- Free 3 days exchange</li>
      <li>Best Pricing/ Rates within 300 miles</li>
    </ul>
  </div>
  <div  class="info scroll">
    <h3>CUSTOMER REVIEWS</h3>
      <div *ngFor= 'let review of reviews'>
        <h5> {{ review.name }} </h5>
        <p> {{ review.rating }} </p>
        <p> {{ review.message }} </p>
        <hr>
      </div>
  </div>
  <div class="info hours">
    <table>
      <h3 class="table-head"><i class="far fa-clock"></i> WORKING HOURS</h3>
      <tr>
        <th>DAY</th>
        <th>SALES</th>
        <th>SERVICE</th>
        <th>PARTS</th>
      </tr>
      <tr>
        <td class="day">Mon</td>
        <td>9am-8pm</td>
        <td>9am-6pm</td>
        <td>9am-6pm</td>
      </tr>
      <tr>
          <td class="day">Tue</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Wed</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Thu</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Fri</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Sat</td>
          <td>9am-8pm</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
        <tr>
          <td class="day">Sun</td>
          <td>10am-5pm</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
    </table>
  </div>

</div>

<div class="review-form">
  <h4> Submit Review Below</h4>
  <form class="sub-review">
    <input class="user-fields" name="cn" type="text" placeholder="Enter Your Name"><br>
    <select class="user-fields">
      <option value="" selected disabled hidden>Rating</option>
      <option value="5 star">5 Star</option>
      <option value="4 star">4 Star</option>
      <option value="3 star">3 Star</option>
      <option value="2 star">2 Star</option>
      <option value="1 star">1 Star</option>
    </select><br>
    <textarea class="user-fields" name="review-msg" id="" cols="60" rows="10" placeholder="Enter Your Review Here..."></textarea><br>
    <button class="review-submit-btn" type="button">SUBMIT REVIEW</button>
  </form>
</div>
