<div class="hero">
  <div class="form-wrapper">
    <h1>SEARCH PRE-OWNED CARS</h1>
    <form action="">
      <select name="make" id="make">
        <option value="" selected disabled hidden>Make</option>
        <option value="Ford">Ford</option>
        <option value="Hyundai">Hyundai</option>
        <option value="Infiniti">Infiniti</option>
        <option value="Mercedes-Benz">Mercedes-Benz</option>
        <option value="Nissan">Nissan</option>
      </select>
      <select name="model" id="model">
        <option value="" selected disabled hidden>Model</option>
        <option value="Focus">Focus</option>
        <option value="C-300">C-300</option>
        <option value="Sonata">Sonata</option>
        <option value="Altima">Altima</option>
        <option value="Q50">Q50</option>
      </select>
      <select name="year" id="year">
        <option value="" selected disabled hidden>Year</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
      </select>
      <select name="body-type" id="body-type">
        <option value="" selected disabled hidden>Body Type</option>
        <option value="SUV">SUV</option>
        <option value="Sedan">Sedan</option>
        <option value="Midsize">Midsize</option>
      </select>
      <select name="min-price" id="min-price">
        <option value="" selected disabled hidden>Min. Price</option>
        <option value="12">$12</option>
        <option value="25000">$25,000</option>
      </select>
      <select name="max-price" id="max-price">
        <option value="" selected disabled hidden>Max Price</option>
        <option value="1">$1</option>
        <option value="999999">$999,999</option>
      </select>
      <select name="mileage" id="mileage"> 
        <option value="" selected disabled hidden>Mileage</option>
        <option value="35mpg">35mpg</option>
        <option value="150mpg">150mpg</option>
        <option value="10mpg">10mpg</option>
      </select>
      <div class="form-buttons">
        <button id="search">SEARCH</button>
        <button id="reset">RESET</button>
      </div>
    </form>
  </div>
</div>