<div class="hero">
  <div class="form-wrapper">
    <h1>SEARCH PRE-OWNED CARS</h1>
    <form action="">
      <select name="make" id="make">
        <option value="" selected disabled hidden>Make</option>
        <option value="Ford">Ford</option>
        <option value="Hyundai">Hyundai</option>
        <option value="Infiniti">Infiniti</option>
        <option value="Mercedes-Benz">Mercedes-Benz</option>
        <option value="Nissan">Nissan</option>
      </select>
      <select name="model" id="model">
        <option value="" selected disabled hidden>Model</option>
        <option value="Focus">Focus</option>
        <option value="C-300">C-300</option>
        <option value="Sonata">Sonata</option>
        <option value="Altima">Altima</option>
        <option value="Q50">Q50</option>
      </select>
      <select name="year" id="year">
        <option value="" selected disabled hidden>Year</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
      </select>
      <select name="body-type" id="body-type">
        <option value="" selected disabled hidden>Body Type</option>
        <option value="SUV">SUV</option>
        <option value="Sedan">Sedan</option>
        <option value="Midsize">Midsize</option>
      </select>
      <select name="min-price" id="min-price">
        <option value="" selected disabled hidden>Min. Price</option>
        <option value="12">$12</option>
        <option value="25000">$25,000</option>
      </select>
      <select name="max-price" id="max-price">
        <option value="" selected disabled hidden>Max Price</option>
        <option value="1">$1</option>
        <option value="999999">$999,999</option>
      </select>
      <select name="mileage" id="mileage"> 
        <option value="" selected disabled hidden>Mileage</option>
        <option value="35mpg">35mpg</option>
        <option value="150mpg">150mpg</option>
        <option value="10mpg">10mpg</option>
      </select>
      <div class="form-buttons">
        <button id="search">SEARCH</button>
        <button id="reset">RESET</button>
      </div>
    </form>
  </div>
</div>
<app-cars></app-cars>
<div class="why-carzone">
  <div class="text">
    <h3 class="white">Why Choose Car Zone?</h3>
    <p class="lorem">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo aliquam doloremque qui necessitatibus possimus. Eveniet incidunt ad corporis dolorem ea esse ratione sapiente accusamus est! Adipisci dolor ea inventore?<br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita earum aspernatur eos recusandae temporibus cupiditate distinctio itaque ducimus adipisci, porro dolorem, accusantium assumenda beatae quis ex commodi, asperiores laboriosam?
    </p>
  </div>
</div>

<div class="info-section">
  <div class="info">
    <h3>PEACE OF MIND</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel error excepturi optio. Alias incidunt mollitia hic tenetur a libero asperiores. Eius quod est illo consequatur corrupti odit quaerat repellendus quia.</p>
    <ul class="services">
      <li>30 Days Limited Warranty</li>
      <li>Superb Customer Service</li>
      <li>Best in Class vehicles</li>
      <li>Best Customer Experience</li>
      <li>Hassle- Free 3 days exchange</li>
      <li>Best Pricing/ Rates within 300 miles</li>
    </ul>
  </div>
  <div class="info">
    <h3>CUSTOMER REVIEWS</h3>
    <h5 class="cust-name"> John Young</h5>
    <p class="cust-review">Just bought a BMW 330i and had a blast doing it!!! I have never met such...</p>
    <hr>
    <h5 class="cust-name"> Carolina Julie</h5>
    <p class="cust-review">Thanks to Argenis!!! Went in there and no games. Let him know where we...</p>
    <hr>
    <h5 class="cust-name"> John Young</h5>
    <p class="cust-review">Easy, quick & honest. Vanessa and Sam were wonderful to work with...</p>
    <hr>
  </div>
  <div class="info hours">
    <table>
      <h3 class="table-head">WORKING HOURS</h3>
      <tr>
        <th>DAY</th>
        <th>SALES</th>
        <th>SERVICE</th>
        <th>PARTS</th>
      </tr>
      <tr>
        <td class="day">Mon</td>
        <td>9am-8pm</td>
        <td>9am-6pm</td>
        <td>9am-6pm</td>
      </tr>
      <tr>
          <td class="day">Tue</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Wed</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Thu</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Fri</td>
          <td>9am-8pm</td>
          <td>9am-6pm</td>
          <td>9am-6pm</td>
        </tr>
        <tr>
          <td class="day">Sat</td>
          <td>9am-8pm</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
        <tr>
          <td class="day">Sun</td>
          <td>10am-5pm</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
    </table>
  </div>

</div>

<div class="review-form">
  <h4> Submit Review Below</h4>
  <form class="sub-review">
    <input class="user-fields" name="cn" type="text" placeholder="Enter Your Name"><br>
    <select class="user-fields">
      <option value="" selected disabled hidden>Rating</option>
      <option value="5 star">5 Star</option>
      <option value="4 star">4 Star</option>
      <option value="3 star">3 Star</option>
      <option value="2 star">2 Star</option>
      <option value="1 star">1 Star</option>
    </select><br>
    <textarea class="user-fields" name="review-msg" id="" cols="30" rows="10" placeholder="Enter Your Review Here..."></textarea><br>
    <button class="review-submit-btn" type="button">SUBMIT REVIEW</button>
  </form>
</div>

<!-- <form action=""> 
    <input name='name' [(ngModel)]="name" type='text' placeholder="Your Name" class="contact-input"><br>
    <input name='email' [(ngModel)]="email" type='email' placeholder="Your Email Address" class="contact-input"><br>
    <textarea name='message' [(ngModel)]="message" rows="10" cols="50" placeholder="YOUR MESSAGE HERE...." class="contact-message"></textarea><br>
    <button (click)="submitContact()" class="message-submit-btn" type="button">SUBMIT</button>
  </form> -->
